/* Global variables & imports */
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* General devices + Mobile devices */
body {
  padding: 1vw;
  background: url("https://unico.wev.ovh/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff5f5;
  font-family: 'Archivo', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.main-section {
  border-radius: 25px;
  padding: 1.7rem;
  margin: 0.2rem;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.logo {
  border-radius: 360px;
  width: 20vw;
}
.name {
  font-size: 6vw;
  text-shadow: -1px -1px 0 #e66100, 1px 1px 0 #ff7800;
}
.about {
  font-size: 4vw;
}
.socials {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.4;
  font-size: 1.6rem;
  padding: 0.1rem;
}
.socials:hover {
  opacity: 0.8;
}
.fa-brands,.fa-solid, .fa-regular {
  scale: 4rem;
  position:relative;
}
.btn {
  border-radius: 12px;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  display: flex;
}
.btn:hover {
  scale: 1.1;
  transition: 0.2s;
}
.btn:active {
  scale: 0.9;
  transition: 0.1s;
  opacity: 0.5;
}
.btn-icon {
  flex: 5%;
  float: left;
  font-size: 1rem;
  margin-right: 10px;
  color: #fff;
}
.btn-text {
  flex: 85%;
}
.btn-title {
  color: #fff;
  font-size: 4.5vw;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
.btn-subtitle {
  font-size: 3vw;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
footer {
  border-radius:25px;
  padding: 20px;
  text-align: center;
  margin-top: 2.0rem;
  position: relative;
  opacity:0.2;
  margin-bottom: 10px;
  scale:1;
  transition:0.5s;
}
footer:hover{
  opacity: 0.5;
  scale:1.01;
}

/* End of Mobile View */

/*
*
*
*
*
*/

/* Desktop View 🖥️ */
@media (min-width: 700px) {
body {
  padding: 2vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff5f5;
  font-family: 'Archivo', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.main-section {
  border-radius: 35px;
  padding: 4rem;
  margin-left: 24rem;
  margin-right: 24rem;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.logo {
  border-radius: 360px;
  width: 6vw;
}
.name {
  font-size: 2vw;
  text-shadow: none;
}
.about {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1vw;
}
.socials {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  opacity: 0.4;
  font-size: 1.6rem;
  padding: 0.1rem;
}
.socials:hover {
  opacity: 0.8;
}
.fa-brands,.fa-solid, .fa-regular {
  scale: 4rem;
  position:relative;
}
.btn {
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  display: flex;
}
.btn:hover {
  scale: 1.1;
  transition: 0.2s;
}
.btn:active {
  scale: 0.9;
  transition: 0.1s;
  opacity: 0.5;
}
.btn-icon {
  flex: 5%;
  float: left;
  font-size: 2rem;
  color: #fff;
}
.btn-text {
  flex: 85%;
}
.btn-title {
  color: #fff;
  font-size: 1.4vw;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
.btn-subtitle {
  font-size: 1.0vw;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
footer {
  border-radius:25px;
  padding: 20px;
  text-align: center;
  margin-top: 2.0rem;
  position: relative;
  opacity:0.2;
  margin-bottom: 10px;
  scale:1;
  transition:0.5s;
}
footer:hover{
  opacity: 0.5;
  scale:1.01;
}
/* End of Desktop View */
}